@model IEnumerable<HistoriaClinicaBis.Models.Paciente>

@{
    ViewData["Title"] = "Búsqueda de Pacientes";
}
<script src="https://kit.fontawesome.com/d4c9bb5d0c.js"></script>

<h1>@ViewData["Title"]</h1>


<div class="container" id="Dropdown">
    <h2>Buscar por...</h2>
    <div>
        <select id="myDropdown">
            <option value="dni-bar">DNI</option>
            <option value="nya-bar">Nombre y apellido</option>
        </select>
    </div>
</div>

@using (Html.BeginForm("busquedaPorDni", "Pacientes", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="searchcontainer" id="DNIbar">
            <input type="text" placeholder="Ingrese DNI del paciente..." name="dni" required />
            <button class="busqueda" type="submit">
                <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </button>
        </div>
}

@using (Html.BeginForm("busquedaPorNombre", "Pacientes", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="searchcontainer" id="NyAbar">
            <input type="text" placeholder="Ingrese nombre del paciente..." name="nombre" required />
            <input type="text" placeholder="Ingrese apellido del paciente..." name="apellido" required />
            <button class="busqueda" type="submit">
                <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i>
            </button>
        </div>
}

<div class="container">
    <h4>Resultados</h4>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>DNI</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @if (!Model.Any())
            {
                    <tr>
                        <td colspan="3" class="no_pacient">No se encuentran pacientes.</td>
                    </tr>
            }

            @foreach (var item in Model)
            {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.nombre) @Html.DisplayFor(modelItem => item.apellido)</td>
                        <td>@Html.DisplayFor(modelItem => item.dni)</td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.id" class="btn btn-outline-success col-10">Atender</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>



<style>
    h1 {
        margin-bottom: 40px;
    }

    h4{
        margin-top: 40px;
    }

    .searchcontainer {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    input {
        padding: 10px;
        width: 20rem;
    }

    .busqueda {
        cursor: pointer;
        border: 0;
        background-color: mediumseagreen;
        padding: 12px;
        border-radius: 5px;
        width: 3rem;
        color: white;
    }

        .busqueda:hover {
            background-color: #198754;
        }

    #Dropdown {
        display: flex;
    }

    #NyAbar {
        display: none
    }

    #myDropdown {
        color: white;
        margin-left: 15px;
        border: 0;
        background-color: mediumseagreen;
        padding: 14px;
        border-radius: 3px;
    }

        #myDropdown:hover {
            background-color: #198754;
        }

    option {
        color: black;
        background-color: white;
    }

    .no_pacient{
        font-style: italic;
        text-align: center;
    }

</style>

<script>
    const myDropdown = document.getElementById('myDropdown');
    const DNIbarDiv = document.getElementById('DNIbar');
    const NyAbarDiv = document.getElementById('NyAbar');

    myDropdown.addEventListener("change", function (event) {
        if (event.target.value == 'dni-bar') {
            DNIbar.style.display = "block";
            NyAbarDiv.style.display = "none";
        } else if (event.target.value == 'nya-bar') {
            NyAbarDiv.style.display = "block";
            DNIbar.style.display = "none";
        }
    })
</script>